<aside class="info-box">
  <div class="info-box-close"><a href="javascript:;" (click)="changeInfoBoxState()"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span></a></div>
  <div class="info-box-header">
    <div class="head-line" *ngIf="type == 'project'">
      <h3 class="direct-text"><input type="text" [(ngModel)]="infoBoxData['projectname']"/></h3>
    </div>
    <div class="head-line" *ngIf="type == 'task'">
      <h3 class="direct-text"><input type="text" [(ngModel)]="infoBoxData['Name']" (focusout)="changeDataTaskName()" (keydown.enter)="changeDataTaskName($event)"/></h3>
      <div class="dropdown">
        <a href="javascript:;" class="btn-infomation dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon glyphicon-option-vertical hvr-buzz" aria-hidden="true"></span></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="javascript:;">업무삭제</a>
          <a class="dropdown-item" href="javascript:;">이동</a>
        </div>
      </div>      
    </div>    
    <dl class="head-txt" *ngIf="type == 'project'">
      <dt>프로젝트 코드 :</dt>
      <dd *ngIf="infoBoxData['projectcode']">{{infoBoxData['projectcode']}}</dd>
    </dl>
    <dl class="head-txt" *ngIf="type == 'task'">
      <dt>작성자 :</dt>
      <dd *ngIf="infoBoxData">{{infoBoxData['Writer']}}</dd>
      <dt>작성일 :</dt>
      <dd *ngIf="infoBoxData">{{infoBoxData['Write_date']}}</dd>
    </dl>
    <ul class="head-tab" [ngClass]="{'project':type==='project','task':type==='task'}">
      <li *ngFor="let link of detailLink[type];let idx=index;" [ngClass]="{'active':(currentSnb == link.link)}"><a [routerLink]="setSnbRouterLink(link.link)" (click)="currentSnb = link.link">{{link.title}}</a></li>
    </ul>    
  </div>
  <div class="info-box-body">
    <router-outlet></router-outlet>
  </div>
</aside>




