<div class="check-list" *ngIf="checkListdata.length != 0">
  <ul class="row">
    <ng-container *ngFor="let checkData of checkListdata;let idx=index;">
        <li class="col-lg-12" *ngIf="(hasAddListItem == false) ? countingList(checkData['Complete'], checkData['Idx']) : true">
          <app-check-box [checkData]="checkData" [hasEdit]="hasEdit" (changeCheckDataEvent)="changeCheckData($event)"></app-check-box>
        </li>
    </ng-container>    
    <li *ngIf="(checkListdata.length > 3) && (hasAddListItem == false)" class="show-all-check-list">모든 체크리스트 보기</li>
  </ul>
</div>
<div class="col-lg-12 add-check-list-wrap" *ngIf="hasAddListItem" [ngClass]="{'no-check-list':checkListdata.length == 0}">
  <a href="javascript:;" class="add-check-list" (click)="openAddCheckListInput()" [ngClass]="{'input-mode':isAddList }">
    <div class="add-check-list-title" *ngIf="!isAddList">
      <span class="glyphicon glyphicon-plus"></span>
      체크리스트 항목 추가
    </div>
    <div class="add-check-list-title" *ngIf="isAddList">
      <button type="button" class="close" aria-label="Close" (click)="cancelAddTaskListInput()" id="closeCheckListInputBtn"><span aria-hidden="true">&times;</span></button>
      <input type="text" [(ngModel)]="newCheckList['Name']" #checkListName (keydown.enter)="addCheckList()">
    </div>
  </a>
</div>
