.check-list{background:#f2f2f2;margin-top: 5px;border-radius:5px;padding:5px;overflow:hidden;position: relative;}
li{padding:0;border-top:1px dashed #cbcbcb;margin:0 25px;position: relative;width:calc(100% - 50px);}
li:first-child{border-top: none;}
li.show-all-check-list{text-align:center;padding:7px 0;font-size:12px;color:#898989;border-top:1px solid #cbcbcb;}
.add-check-list-wrap{width:100%;background:#f2f2f2;margin-top: -5px;border-radius:5px;padding:5px 15px;overflow:hidden;position: relative;}
.add-check-list{display:block;position: relative;padding: 15px 0;overflow: hidden;width:100%;border-top:1px dashed #cbcbcb;}
.add-check-list-wrap.no-check-list{margin-top: 0px;}
.add-check-list-wrap.no-check-list .add-check-list{border-top:none;}
.add-check-list-title{font-size:13px;line-height:13px;color:#000;}
.add-check-list-title .glyphicon-plus{font-size:12px;padding-right:5px;}
.add-check-list-title input[type="text"]{width: calc(100% - 25px);height:auto;border-radius:6px;border:1px solid #c1c2d6;;background:#fff;padding:8px 5px;font-size:13px;line-height:15px;}
.add-check-list-title button{opacity:1;}
.add-check-list-title button span{color:#000;font-size:25px;}
.add-check-list-title .close{float:left;margin:0 10px 0 -3px;}
.add-check-list.input-mode{padding:5px 0;}