  <a href="javascript:;" (click)="updateView()" class="updateView"></a>
  <div (click)="goTaskDetail(taskData.Idx, taskData.Name)" class="task-wrap">
    <div class="head-info">
      <input type="checkbox" [id]="taskData.Idx" [(ngModel)]="isComplete" required (change)="changeCompleteState()">
      <div class="checkbox-title" [ngClass]="{'complete':isComplete}"><h5>{{taskData.Name}}</h5></div>
    </div>
    <app-check-list-box [checkListdata]="taskData['CheckList']" [hasEdit]="false" [hasAddListItem]="false" *ngIf="viewCheckList()"></app-check-list-box>
    <div class="foot-info">
      <div class="pull-right">
        <a href="javascript:;">
            <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span>
            <span class="count">21</span>
        </a>
        <a href="javascript:;">
            <span class="glyphicon glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            <span class="count">21</span>
        </a>
      </div>
    </div>
  </div>