  <div (click)="goTaskDetail(taskData.Idx, taskData.Name)">
    <div class="head-info">
      <input type="checkbox" [id]="taskData.Idx" [(ngModel)]="isComplete" required (change)="changeCompleteState()">
      <div class="col-md-10 col-lg-10 checkbox-title" [ngClass]="{'complete':isComplete}"><h5>{{taskData.Name}}</h5></div>
    </div>
    <app-check-list-box [checkListdata]="taskData['CheckList']"></app-check-list-box>
    <div class="foot-info">
      <div class="pull-left">
        <a href="javascript:;">
            <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span>
            <span class="count">21</span>
        </a>
        <a href="javascript:;">
            <span class="glyphicon glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            <span class="count">21</span>
        </a>
      </div>
      <div class="pull-right"></div>
    </div>
  </div>