<div class="task-list-wrap">
  <h4 class="direct-text"><input type="text" [(ngModel)]="taskListData['Name']"  (focusout)="changeDataTaskListName()" (keydown.enter)="updateTaskList(taskListData['Name'])"/></h4>
  <div class="dropdown">
    <a href="javascript:;" class="btn-infomation dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon glyphicon-option-vertical hvr-buzz" aria-hidden="true"></span></a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="javascript:;" (click)="deleteTaskList(taskListData['Idx'])">업무리스트 삭제</a>
      <a class="dropdown-item" href="javascript:;">이동</a>
    </div>
  </div>
  <ul>
    <li *ngFor="let taskData of taskListData['Task']|orderBy:order:ascending"><app-task-box [taskData]="taskData" (sendTaskIdEvent)="sendTaskId($event)"></app-task-box></li>
  </ul>
</div>
