.project-list-box-wrap{ height: 200px; position: relative;border-radius: 5px;box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);overflow: hidden;background: #fff;}
.project-list-box-wrap::before{content: '';position: absolute;left: 0;top: 0; right: 0;height: 3px;background:linear-gradient(to bottom right, #c474e8  0%, #da6b84 100%);}
.glyphicon { top:2px;}
.btn-infomation{width: 30px;height: 30px;line-height: 30px;text-align: center;background: none;color: #6d6e8c;border: 0;overflow: hidden;position: absolute;right: 5px;top: 11px;z-index:2;}

.foot-info{overflow: hidden;}
.foot-info .pull-left{font-size: 12px;}
.foot-info .pull-right a{margin-left: 5px;}
.foot-info .pull-right a span{color: #cbcbd6;font-size: 12px;}

/* The BarChart */
.project-list-body {  margin: 0 auto;position:absolute;bottom:45px;width:100%;padding: 15px 15px 0;}
.bar-graph {  position: relative;  width: 100%;  height: auto; }
.bar-graph dt{overflow:hidden;}
.bar-graph dd{margin-top:10px;}
.bar-graph .graph { position: relative;  list-style-type: none;  width: 100%;}
.bar-graph .graph-barBack {  border-radius: 2px;  background: #DAE5EB; display: block;}
.bar-graph .graph-bar {  background-color: #efb04e;  -webkit-transition: all 1.5s ease-out;  -moz-transition: all 1.5s ease-out;  -o-transition: all 1.5s ease-out;  transition: all 1.5s ease-out;
  border-radius: 2px;  cursor: pointer;  margin-bottom: 10px;  position: relative;  display: block;  height: 5px;  width: 0%; }
.bar-graph .graph-bar:last-child {  margin-bottom: 0;}
/* .bar-graph .graph-bar:after {  position: absolute;  content: attr(data-value) "%";  font-size: 12px;  line-height: 20px;  height: 20px;  padding: 0 10px;  margin-left: 5px;  top: -18px; left: -15px;} */
.bar-graph .graph-legend, .bar-graph .graph-task { font-size: 12px; width: 50%;float:left; line-height:15px;}
.bar-graph .graph-task{float:right;text-align: right;}

/* footer */
.project-list-footer {position: absolute;  bottom: 10px; width: 100%;padding: 15px 15px 0;}


.project-list-header{position: relative;height:100%;padding: 15px 15px 0;z-index:1;}