h4{padding-right:15px;}
li{padding: 5px;}
li>div{position: relative;padding: 15px;border-radius: 5px;box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);overflow: hidden;background: #fff;}
li>div::before{content: '';position: absolute;left: 0;top: 0; right: 0;height: 3px;background:linear-gradient(to bottom right, #c474e8  0%, #da6b84 100%);}
li>div .project-list-hreader{position: relative;}
.btn-infomation{width: 30px;height: 30px;line-height: 30px;text-align: center;background: none;color: #6d6e8c;border: 0;overflow: hidden;position: absolute;right: -10px;top: -10px;}

.foot-info{margin-top: 15px;overflow: hidden;}
.foot-info .pull-left a{margin-right: 15px;}
.foot-info .pull-left a span{color: #cbcbd6;font-size: 12px;}

