/*!
 * Pulip UI Team 
 */
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background: #ebf0f8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
h3{font-size: 18px;color: #6d6e8c;}
h4{font-size: 16px;color: #6d6e8c;}
h5{font-size: 14px;color: #6d6e8c;}
.bggr01{background:linear-gradient(to bottom right, #8f9efb 0%, #64aaf7 100%);}

.foot-info{margin-top: 15px;overflow: hidden;}
.foot-info .pull-left a{margin-right: 15px;}
.foot-info .pull-left a span{color: #cbcbd6;font-size: 12px;}


.btn-infomation{width: 30px;height: 30px;line-height: 30px;text-align: center;background: none;color: #6d6e8c;border: 0;overflow: hidden;}
/* navi */
.navbar{border: 0;box-shadow: 1px 1px 1px 1px #ccc;}
.navbar h1{margin: 0;font-size: 25px;color: #fff;font-weight: bold;line-height: 57px;}


/* aside */
.aside{position: fixed;top:57px; left: 0;bottom: 0;width: 40px;}


/* content */
.content{margin-top: 57px;}
.content .container{padding: 30px;}
.content .container .content-header{}

.content .container .content-body{margin-top: 15px;}


/* project-list */
.project-list{}
.project-list ul{}
.project-list ul li{padding: 5px;}
.project-list ul li>div{position: relative;padding: 15px;border-radius: 5px;box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);overflow: hidden;background: #fff;}
.project-list ul li>div::before{content: '';position: absolute;left: 0;top: 0; right: 0;height: 3px;background:linear-gradient(to bottom right, #c474e8  0%, #da6b84 100%);}
.project-list ul li>div .project-list-hreader{position: relative;}
.project-list ul li>div .project-list-hreader .btn-infomation{position: absolute;right: -10px;top: -10px;}

/* task-list */
.task-list{}
.task-list>ul{}
.task-list>ul>li{padding: 15px;}
.task-list>ul>li>div{position: relative;padding: 15px;background: #f5f7fc;border-radius: 5px;box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);overflow: hidden;}
.task-list>ul>li>div::before{content: '';position: absolute;left: 0;top: 0; right: 0;height: 3px;background:linear-gradient(to bottom right, #c474e8  0%, #da6b84 100%);}
.task-list>ul>li>div>ul{}
.task-list>ul>li>div>ul>li{margin-top: 10px;padding: 15px;background: #fff;border-radius: 5px;box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);}
.task-list>ul>li>div>ul>li .check-list ul{}
.task-list>ul>li>div>ul>li .check-list ul li:first-child{margin-top: 10px;}
.task-list>ul>li>div>ul>li .check-list .form-control{border:0;}
.task-list>ul>li>div>ul>li .check-list .input-group-addon{border: 0;border-radius: 0;}
.task-list>ul>li>div>ul>li .check-list a{display: inline-block;width: 100%;padding:0 10px;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;font-size: 14px;color: #6d6e8c;line-height: 30px;}



/* info-box */
.info-box{position: fixed;top:57px;right:0;bottom:0;width: 500px;padding: 15px;background: #fff;box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);}
.info-box .info-box-close{position: absolute;left: -30px;top: 0;text-align: center;box-shadow: 0 1px 0px 0 rgba(0,0,0,0.15);}
.info-box .info-box-close a{display: inline-block;width:30px; height: 30px;background: #fff;line-height: 36px;}
.info-box .info-box-header{margin-top: 15px;padding-bottom: 15px; border-bottom: 1px solid rgb(240, 240, 240);}
.info-box .info-box-content{padding: 10px 0;}
.info-box .info-box-content .row{margin-top: 10px;}