<div class="info-box-project-setting">
  <dl>
    <dt>설명</dt>
    <dd class="direct-text" *ngIf="data">
      <textarea [(ngModel)]="data.content" rows="4"></textarea>
    </dd>
  </dl>
  <dl>
    <dt>담당부서</dt>
    <dd>
      <a href="javascript:;" class="btn btn-default btn-sm pick-option"><span class="glyphicon glyphicon-plus"></span></a>
      <div *ngIf="data">{{data.saledeptname}}</div>
    </dd>
  </dl>
  <dl>
    <dt>시작일</dt>
    <dd>
      <a href="javascript:;" class="btn btn-default btn-sm pick-option"><span class="glyphicon glyphicon-plus"></span></a>
      <div *ngIf="data">{{data.startdate}}</div>
    </dd>
  </dl>
  <dl>
    <dt>종료일</dt>
    <dd>
      <a href="javascript:;" class="btn btn-default btn-sm pick-option"><span class="glyphicon glyphicon-plus"></span></a>
      <div *ngIf="data">{{data.enddate}}</div>
    </dd>    
  </dl>
  <dl>
    <dt>오픈일</dt>
    <dd>
      <a href="javascript:;" class="btn btn-default btn-sm pick-option"><span class="glyphicon glyphicon-plus"></span></a>
      <div *ngIf="data">{{data.opendate}}</div>
    </dd>    
  </dl>
  <dl>
    <dt>PD</dt>
    <dd>
        <a href="javascript:;" class="btn btn-default btn-sm pick-option"><span class="glyphicon glyphicon-plus"></span></a>
        <div *ngIf="data">{{data.orderpd}}</div>
    </dd>
  </dl>
  <dl>
    <dt>PM</dt>
    <dd>
      <a href="javascript:;" class="btn btn-default btn-sm pick-option"><span class="glyphicon glyphicon-plus"></span></a>
      <div *ngIf="data">{{data.offerpm}}</div>
    </dd>
  </dl>
  <dl>
    <dt>팀원</dt>
    <dd>
      <a href="javascript:;" class="btn btn-default btn-sm pick-option"><span class="glyphicon glyphicon-plus"></span></a>
      <ul *ngIf="data">
        <li *ngFor="let team of data.team;"><!--{{team}}--></li>
      </ul>
    </dd>
  </dl>
  <dl>
    <dt>목표수익률</dt>
    <dd>
      <a href="javascript:;" class="btn btn-default btn-sm pick-option"><span class="glyphicon glyphicon-plus"></span></a>
      <div *ngIf="data">{{data.goalrate}}%</div>
    </dd>
  </dl>
  <dl>
    <dt>현재수익률</dt>
    <dd>
      <a href="javascript:;" class="btn btn-default btn-sm pick-option"><span class="glyphicon glyphicon-plus"></span></a>
      <div *ngIf="data">{{data.earnrate}}%</div>
    </dd>
  </dl>
  <dl>
    <dt>프로젝트 보고서</dt>
    <dd>
      <a href="javascript:;" class="btn btn-default btn-sm pick-option"><span class="glyphicon glyphicon-plus"></span></a>
      <div *ngIf="data">
      </div>
    </dd>
  </dl>
</div>