.project-name{line-height:28px;padding:10px 0;}
.project-list{border-radius:5px;background:#fff;box-shadow:0 1px 8px 0 rgba(0,0,0,0.15);margin-bottom:10px;padding:5px 0;}
.project-list li{padding:10px 0 10px 10px;}