h4{padding-right:15px; font-size:14px; line-height:17px;}
.project-list-hreader {height:110px;}
.project-list-hreader .glyphicon { top:8px;}
li{padding: 5px;}
li>div{ height: 200px; position: relative;padding: 15px;border-radius: 5px;box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);overflow: hidden;background: #fff;}
li>div::before{content: '';position: absolute;left: 0;top: 0; right: 0;height: 3px;background:linear-gradient(to bottom right, #c474e8  0%, #da6b84 100%);}
li>div .project-list-hreader{position: relative;}
.btn-infomation{width: 30px;height: 30px;line-height: 30px;text-align: center;background: none;color: #6d6e8c;border: 0;overflow: hidden;position: absolute;right: -10px;top: -10px;}

.foot-info{margin-top: 15px;overflow: hidden;}
.foot-info .pull-right a{margin-left: 5px;}
.foot-info .pull-right a span{color: #cbcbd6;font-size: 12px;}

/* The BarChart */
.wrap {  margin: 0 auto;  max-width: 1200px; margin-top:25px;}
.barGraph {  position: relative;  width: 100%;  height: auto; }
.barGraph .graph { position: relative;  list-style-type: none;  width: 100%;}
.barGraph .graph-barBack {  border-radius: 2px;  background: #DAE5EB;  margin-bottom: 10px;  display: block;}
.barGraph .graph-bar {  background-color: #efb04e;  -webkit-transition: all 1.5s ease-out;  -moz-transition: all 1.5s ease-out;  -o-transition: all 1.5s ease-out;  transition: all 1.5s ease-out;
  border-radius: 2px;  cursor: pointer;  margin-bottom: 10px;  position: relative;  z-index: 9999;  display: block;  height: 5px;  width: 0%; margin-top: 20px; }
.barGraph .graph-bar:last-child {  margin-bottom: 0;}
.barGraph .graph-bar:after {  position: absolute;  content: attr(data-value) "%";  font-size: 12px;  line-height: 20px;  height: 20px;  padding: 0 10px;  margin-left: 5px;  top: -18px; left: -15px;}
.barGraph .graph-legend {  position: absolute;  left: 25px;  top: -14px; z-index: 9999; font-size: 12px; width: 50px; }

/* footer */
.project-list-footer {position: absolute;  bottom: 10px; width: calc(100% - 30px)}