<!-- project-list -->
<div class="project-list">
  <ul class="row">
    <!-- project -->
    <li class="col-sx-12 col-md-4 col-lg-2" *ngFor="let prj of projectListData" (click)="goProjectDetail(prj.projectid)">
      <div>
        <div class="project-list-hreader">
          <h4>{{prj.projectname}}</h4>
          <a href="javascript:;" (click)="viewProjectInfoBox($event, prj.projectid)" class="btn-infomation"><span class="glyphicon glyphicon glyphicon-option-vertical hvr-buzz" aria-hidden="true"></span></a>
        </div>

        <div class="project-list-body wrap">
          <div class="barGraph">
            <ul class="graph">
              <span class="graph-barBack">    
                <li class="graph-bar" data-value="85">
                  <span class="graph-legend">진행</span>
                </li>
              </span>
            </ul>
          </div>
          
      </div>

        <div class="project-list-footer">
          <div class="foot-info">
            <div class="pull-left">
              
            </div>
            <div class="pull-right">
                <a href="">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span class="count">8</span>
                  </a>
                  <a href="javascript:;">
                    <span class="glyphicon glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                    <span class="count">2</span>
                  </a>
                  <a href="javascript:;">
                    <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span>
                    <span class="count">0</span>
                  </a>
            </div>
          </div>
        </div>  
      </div>
    </li>
    <!-- //project -->
  </ul>
</div>
<!-- //project-list -->