<div class="dropdown">
  <a href="javascript:;" class="btn btn-default btn-sm pick-option dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="matchWord=''"><span class="glyphicon glyphicon-plus"></span></a>
  <ul class="select-list">
      <li *ngFor="let member of selectedMember">
        <span class="member-img"><img [src]="member.img" /></span>
        <span class="member-name">{{member.name}}</span>
        <button aria-label="Close" class="close" type="button" (click)="removeMember(member.id)"><span aria-hidden="true">×</span></button>
      </li>
  </ul>
  
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" (click)="noBubbling($event)">
    <div class="dropdown-header">
      <div class="dropdown-title">
        <h4>멤버 추가</h4>
      </div>
      <div class="dropdown-search direct-text">
        <input type="text" [(ngModel)]="matchWord" (keyup)="searchMember($event)" (change)="completeSearchMember()"/>
        <button aria-label="Close" class="close" type="button" (click)="clearSearchWord()" [ngClass]="{'active':searchInputFocus()}"><span aria-hidden="true">×</span></button>
      </div>
    </div>
    <div class="dropdown-option">
      <div class="option-wrap">
        <div class="option-list">
          <a class="dropdown-item" [ngClass]="{'selected':member.selected, 'matched':matchFlag[idx], 'no-matched':setNoMatchedClass(idx)}" href="javascript:;" *ngFor="let member of data;let idx = index;" (click)="noBubbling($event);selectMember(member);">{{member.name}}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
  </div>
</div> 
