<div class="dropdown">
  <a href="javascript:;" class="btn btn-default btn-sm pick-option dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span></a>
  <ul class="select-list">
      <li *ngFor="let member of selectedMember">
        <span class="member-img"><img [src]="member.img" /></span>
        <span class="member-name">{{member.name}}</span>
        <button aria-label="Close" class="close" type="button" (click)="removeMember(member.id)"><span aria-hidden="true">×</span></button>
      </li>
  </ul>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div class="dropdown-search direct-text">
      <input type="text" (click)="noBubbling($event)"/>
    </div>
    <a class="dropdown-item" [ngClass]="{'selected':member.selected}" href="javascript:;" *ngFor="let member of data" (click)="noBubbling($event);selectMember(member);">{{member.name}}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
  </div>
</div> 
