.info-box-project-setting dl{overflow: hidden;padding:10px 0;}
.info-box-project-setting dt{float:left;width:24%;white-space: nowrap;font-size:14px;padding-top:7px;}
.info-box-project-setting dd{float:left;overflow: hidden;width:76%;}
.info-box-project-setting dd div{float:left;font-size:14px;padding:8px 0;}