  <dl>
    <dt>설명</dt>
    <dd>
        <div *ngIf="data">{{data.content}}</div>
    </dd>
  </dl>
  <dl>
    <dt>담당부서</dt>
    <dd>
      <a href="javascript:;">+</a>
      <div *ngIf="data">{{data.group}}</div>
    </dd>
  </dl>
  <dl>
    <dt>시작일</dt>
    <dd>
      <a href="javascript:;">+</a>
      <div *ngIf="data">{{data.start_date}}</div>
    </dd>
  </dl>
  <dl>
    <dt>종료일</dt>
    <dd>
      <a href="javascript:;">+</a>
      <div *ngIf="data">{{data.end_date}}</div>
    </dd>    
  </dl>
  <dl>
    <dt>오픈일</dt>
    <dd>
      <a href="javascript:;">+</a>
      <div *ngIf="data">{{data.open_date}}</div>
    </dd>    
  </dl>
<dl>
    <dt>PD</dt>
    <dd>
        <a href="javascript:;">+</a>
        <div *ngIf="data">{{data.pd}}</div>
    </dd>
</dl>
<dl>
        <dt>PM</dt>
        <dd>
            <a href="javascript:;">+</a>
            <div *ngIf="data">{{data.pm}}</div>
        </dd>
    </dl>
    <dl>
            <dt>팀원</dt>
            <dd>
                <a href="javascript:;">+</a>
                <ul *ngIf="data">
                        <li *ngFor="let team of data.team;">{{team}}</li>
                      </ul>
            </dd>
        </dl>
        <dl>
                <dt>목표수익률</dt>
                <dd>
                    <a href="javascript:;">+</a>
                    <div *ngIf="data">{{data.goal}}</div>
                </dd>
            </dl>
            <dl>
                    <dt>현재수익률</dt>
                    <dd>
                        <a href="javascript:;">+</a>
                        <div *ngIf="data">{{data.current}}</div>
                    </dd>
                </dl>
                <dl>
                        <dt>프로젝트 보고서</dt>
                        <dd>
                            <a href="javascript:;">+</a>
                            <div *ngIf="data">
                                {{data.report.title}}
                                {{data.report.reg_date}}
                            </div>
                        </dd>
                    </dl>
  <!-- 
  <dl>
    <dt>팔로워</dt>
    <dd>
      <a href="javascript:;">+</a>
      <ul>
        <li></li>
      </ul>
    </dd>
  </dl>
  <dl>
    <dt>태그</dt>
    <dd>
      <a href="javascript:;">+</a>
      <ul>
        <li></li>
      </ul>
    </dd>
  </dl>
  <dl>
    <dt>작업시간</dt>
    <dd>
      <a href="javascript:;">+</a>
      <ul>
        <li></li>
      </ul>
    </dd>
  </dl>
  <dl>
    <dt>포인트</dt>
    <dd>
      <select>
        <option>평가되지 않음</option>
      </select>
    </dd>
  </dl>
  <dl>
    <dt>색상라벨</dt>
    <dd>
      <a href="javascript:;">+</a>
      <ul>
        <li></li>
      </ul>
    </dd>
  </dl>
  <dl *ngIf="data" >
    <dt>체크리스트</dt>
    <dd><app-check-list-box [checkListdata]="data.CheckList"></app-check-list-box></dd>
  </dl> -->
  
  
  