<div class="dropdown">
    <a href="javascript:;" class="btn btn-default btn-sm pick-option dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span></a>
    <ul class="select-list">
        <li>aaa</li>
    </ul>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="dropdown-search direct-text">
        <input type="text" (click)="noBubbling($event)"/>
      </div>
      <!-- <a class="dropdown-item" href="javascript:;" *ngFor="let menu of data" (click)="menu.function(menu.params)">{{menu.name}}</a> -->
      <a class="dropdown-item" href="javascript:;" (click)="noBubbling($event)"><input type="checkbox"/><span>aaa</span></a>
      <a class="dropdown-item" href="javascript:;" (click)="noBubbling($event)"><input type="checkbox"/><span>aaa</span></a>
      <a class="dropdown-item" href="javascript:;" (click)="noBubbling($event)"><input type="checkbox"/><span>aaa</span></a>
      <a class="dropdown-item" href="javascript:;" (click)="noBubbling($event)"><input type="checkbox"/><span>aaa</span></a>
      <a class="dropdown-item" href="javascript:;" (click)="noBubbling($event)"><input type="checkbox"/><span>aaa</span></a>
      <a class="dropdown-item" href="javascript:;" (click)="noBubbling($event)"><input type="checkbox"/><span>aaa</span></a>
      <a class="dropdown-item" href="javascript:;" (click)="noBubbling($event)"><input type="checkbox"/><span>aaa</span></a>
    </div>
  </div> 
