<div class="dropdown">
  <a href="javascript:;" class="btn btn-default btn-sm pick-option dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="matchTag='';tagBox=true;newTagBox=false;newTag['name']=undefined;"><span class="glyphicon glyphicon-plus"></span></a>
  <button aria-label="Close" class="close dropdown-toggle dropdown-menu" type="button" aria-labelledby="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span aria-hidden="true">×</span></button>
  <ul class="select-list">
    <li *ngFor="let tag of selectedTag" [ngClass]="setTagClass(tag.group)">{{tag.name}}<button aria-label="Close" class="close" type="button" (click)="removeTag(tag.id)"><span aria-hidden="true">×</span></button></li>
  </ul>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" (click)="noBubbling($event)" >    
    <div class="menu-box tag-box" [ngClass]="{'active':tagBox}">
      <div class="dropdown-header">
        <div class="dropdown-title">
          <h4>태그 추가</h4>
        </div>
        <div class="dropdown-search direct-text">
          <input type="text" [(ngModel)]="matchTag" (keyup)="searchTag($event)" (change)="completeSearchTag()"/>
          <button aria-label="Close" class="close" type="button" (click)="clearSearchTag()" [ngClass]="{'active':searchInputFocus()}"><span aria-hidden="true">×</span></button>
        </div>
      </div>
      <div class="dropdown-option">
        <div class="option-wrap">
            <div class="option-list">
              <a class="dropdown-item" href="javascript:;" *ngFor="let tag of data;let idx=index;" [ngClass]="{'matched':matchFlag[idx], 'no-matched':setNoMatchedClass(idx)}"><input type="checkbox" [checked]="tag.selected" (change)="toggleTag(tag)"/><span [ngClass]="setTagClass(tag.group)">{{tag.name}}</span></a>
            </div>
        </div>
      </div>
      <div class="dropdown-new">
        <a href="javascript:;" (click)="tagBox=false;newTagBox=true;newTag['name']=undefined;">+ 새 태그 만들기</a>
      </div>
    </div>
    <div class="menu-box new-tag-box" [ngClass]="{'active':newTagBox}">
      <div class="dropdown-title">
        <button (click)="tagBox=true;newTagBox=false;"><</button><h4>새 태그 만들기</h4>
      </div>
      <div class="dropdown-tagname direct-text">
        <input type="text" placeholder="태그 이름" [(ngModel)]="newTag['name']"/>
      </div>
      <div class="dropdown-tagcolor">
        <h5>색상 선택</h5>
        <ul class="color-list">
          <li *ngFor="let tagC of tagColor;" [ngClass]="tagC">
            <input type="radio" [id]="tagC" name="tagColor" [value]="tagC" (change)="selectTagColor(tagC)" [(ngModel)]="newTag['group']">
            <label [for]="tagC"></label>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-primary btn-sm btn-confirm" [disabled]="newTag['name']==undefined" (click)="confirmNewTag()">만들기</button>      
    </div>
  </div>  

</div> 
