.selectiongroup{position:relative;margin-top:3px;}
.select-list{float:left;}
.dropdown-search{padding:5px;}
.dropdown-search input[type="text"]{border: 1px solid #e5e5e5;}
.dropdown-search input[type="text"]:hover, .dropdown-search input[type="text"]:focus{background:#fff;}
.dropdown-menu{width:365px;height:200px;overflow-x: auto;left:0;}
.dropdown-item{border:none;}