<div class="dropdown">
  <a href="javascript:;" class="btn btn-default btn-sm pick-option dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span></a>
  <ul class="select-list">
    <li *ngFor="let tag of selectedTag" [ngClass]="setTagStyleClass(tag.group)">{{tag.name}}<button aria-label="Close" class="close" type="button" (click)="removeTag(tag.id)"><span aria-hidden="true">×</span></button></li>
  </ul>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div class="dropdown-search direct-text">
      <input type="text" (click)="noBubbling($event)"/>
    </div>
    <a class="dropdown-item" href="javascript:;" *ngFor="let tag of data" (click)="noBubbling($event)"><input type="checkbox" (change)="selectTag(tag)"/><span [ngClass]="setTagStyleClass(tag.group)">{{tag.name}}</span></a>
  </div>  
</div> 
