/* aside */
.aside{position: fixed;top:0; left: 0;bottom: 0;width: 80px;background:#2F323A;z-index:99;text-align:center;}
h1{margin:10px 0 0 0;}
ul{margin-top:15px;}
li a{display:block;padding:15px 0 15px 0;}
li.active a{background: #5093E1;}
li a span{color:#7d8798;font-size:25px}
li.active a span{color:#fff;}