<aside class="info-box" id="infoBox">
  <div class="info-box-close"><a href="javascript:;" (click)="changeInfoBoxState()"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span></a></div>
  <div class="info-box-header">
    <h3>{{(type == 'project') ? projectName : taskName }}</h3>
    <dl *ngIf="type == 'project'">
      <dt>프로젝트 코드 :</dt>
      <dd *ngIf="infoBoxData['code']">{{infoBoxData['code']}}</dd>
    </dl>
    <ul [ngClass]="{'project':type==='project','task':type==='task'}">
      <li *ngFor="let link of detailLink[type];let idx=index;" [ngClass]="{'active':(currentSnb == link.link)}"><a [routerLink]="setSnbRouterLink(link.link)" (click)="currentSnb = link.link">{{link.title}}</a></li>
    </ul>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</aside>




