.projects-snb{position: relative;}
.projects-snb .content-header{width:45%;overflow: hidden;line-height:30px;padding:10px 0;float:left;}
.projects-snb .content-header h3.direct-text{width:calc(100% - 40px);word-wrap:normal;overflow: hidden;float:left;padding:0;}
.projects-snb .content-header h3.direct-text input[type="text"]{font-size:18px;line-height:18px;background:#ebf0f8;white-space: nowrap;text-overflow:ellipsis;}
.projects-snb .content-header h3.direct-text input[type="text"]:hover, div.direct-text input[type="text"]:focus{background:#fff;}
.projects-snb .content-header .project-list-toggle{float:right;margin:7px 0 3px 0;}
.projects-snb .content-header .project-list-wrap{position: absolute;width:100%;top:60px;z-index:3;border-radius:5px;background:#fff;box-shadow:0 1px 8px 0 rgba(0,0,0,0.15);padding:15px;}
.projects-snb .content-header .project-list-wrap li{padding:10px 0 10px 10px;}

.projects-snb .projects-info{position: absolute;top:15px;right:0;}

.projects-tab{overflow: hidden;margin:15px 20px;float:left;width:calc(55% - 80px);}
.projects-tab ul{text-align: center;}
.projects-tab li{display:inline-block;}
.projects-tab li.active{border-bottom:2px solid #2f4c7d;}
.projects-tab a{display:inline-block;text-align:center;padding:5px 4px 9px;text-decoration: none;color:#9f9f9f;}
.projects-tab li.active a{color:#2f4c7d;}
.projects-tab a:hover{text-decoration: none;}

.depth2Container{clear:both;}

.btn-default{background-color: #d6dce6;border:1px solid #c0c6cf;}
.glyphicon{color:#596881;}