<aside class="info-box">
  <div class="info-box-close"><a href="javascript:;" (click)="changeInfoBoxState()"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span></a></div>
  <div class="info-box-header">
    <div class="head-line" *ngIf="type == 'project'">
      <h3 class="direct-text"><p>{{infoBoxData['projectname']}}</p></h3>
    </div>
    <div class="head-line" *ngIf="type == 'task'">
      <h3 class="direct-text"><input type="text" [(ngModel)]="infoBoxData['Name']" (focusout)="changeDataTaskName()" (keydown.enter)="changeDataTaskName($event)"/></h3>
      <app-dropdown-box [data]="dropdownMenu"></app-dropdown-box>    
    </div>    
    <dl class="head-txt" *ngIf="type == 'project'">
      <dt>프로젝트 코드 :</dt>
      <dd *ngIf="infoBoxData['projectcode']">{{infoBoxData['projectcode']}}</dd>
    </dl>
    <dl class="head-txt" *ngIf="type == 'task'">
      <dt>작성자 :</dt>
      <dd *ngIf="infoBoxData">{{infoBoxData['Writer']}}</dd>
      <dt>작성일 :</dt>
      <dd *ngIf="infoBoxData">{{infoBoxData['Write_date']}}</dd>
    </dl>
    <ul class="head-tab" [ngClass]="{'project':type==='project','task':type==='task'}">
      <li *ngFor="let link of detailLink[type];let idx=index;" [ngClass]="{'active':(currentSnb == link.link)}"><a [routerLink]="setSnbRouterLink(link.link)" (click)="currentSnb = link.link">{{link.title}}</a></li>
    </ul>    
  </div>
  <div class="info-box-body">
    <router-outlet></router-outlet>
  </div>
</aside>




