dl{overflow: hidden;padding:10px 0;}
dt{float:left;width:20%;white-space: nowrap;font-size:14px;padding-top:7px;}
dd{float:left;overflow: hidden;width:80%;}
dd div{float:left;font-size:14px;padding:8px 0;}