<dl>
  <dt>설명</dt>
  <dd class="direct-text">
    <textarea *ngIf="data" [(ngModel)]="data.Properties" rows="4" (keydown.enter)="changeDataContent($event, data.Properties)"></textarea>
  </dd>
</dl>
<dl>
  <dt>프로젝트</dt>
  <dd>
    <div>{{projectName}}</div>
  </dd>
</dl>
<dl class="datepicker-box">
  <dt>시작일</dt>
  <dd><my-date-picker class="datepicker" name="startDate" [options]="datePickerOptions" [(ngModel)]="startDate" (dateChanged)="startDateChanged($event)"></my-date-picker></dd>
</dl>
<dl class="datepicker-box">
  <dt>마감일</dt>
  <dd><my-date-picker class="datepicker" name="endDate" [options]="datePickerOptions" [(ngModel)]="endDate" (dateChanged)="endDateChanged($event)"></my-date-picker></dd>
</dl>
<dl class="member-box">
  <dt>배정된 멤버</dt>
  <dd *ngIf="data">
    <app-member-box [data]="data['AssiMember']" [optionData]="memberData" [projectId]="projectId" [taskId]="taskId"></app-member-box>
  </dd>
</dl>
<dl>
  <dt>태그</dt>
  <dd *ngIf="data">
    <app-tag-box [data]="data['Tag']" [projectId]="projectId" [taskId]="taskId"></app-tag-box>
  </dd>
</dl>
<dl *ngIf="data" >
  <dt>체크리스트</dt>
  <dd><app-check-list-box [checkListdata]="data.CheckList" [hasEdit]="true" [hasAddListItem]="true" [projectId]="projectId" [taskId]="taskId"></app-check-list-box></dd>
</dl>