<!-- socket test-->
<!-- <ul id="messages">
  <li *ngFor="let message of messages">
      <span [innerHTML]="isSystemMessage(message)"></span>
  </li>
</ul>
<form action="">
  <input [(ngModel)]="chatBox" [ngModelOptions]="{standalone: true}" autocomplete="off" />
  <button (click)="send()">전송aa</button>
</form> -->
<!-- socket test -->

<!-- top navi -->
<nav class="navbar navbar-inverse navbar-fixed-top bggr01">
  <div class="container">
    <div class="navbar-header">
      <h1>PulipTask</h1>
    </div>
  </div>
</nav>
<!-- //top navi -->

<!-- content -->
<div class="content">
  <!-- container -->
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</div>


