<div class="project-list-box-wrap">
  <div class="project-list-header">
    <app-project-list-header-box [projectData]="projectData" [url]="url" [router]="router"></app-project-list-header-box>
  </div>
  <a href="javascript:;" (click)="viewProjectInfoBox($event, projectData.projectid)" class="btn-infomation"><span class="glyphicon glyphicon glyphicon-option-vertical hvr-buzz" aria-hidden="true"></span></a>
  <div class="project-list-body">
    <dl class="bar-graph">
      <dt>
        <div class="graph-legend"><span *ngIf="projectData.taskrate != 100">{{projectData.taskrate}}% </span><span class="graph-state">{{(projectData.taskrate == 100)?'완료':'진행'}}</span></div>
        <div class="graph-task">20/30개 업무</div>
      </dt>
      <dd>
        <div class="graph-barBack"><div class="graph-bar" [ngStyle]="{'width':projectData.taskrate+'%'}"></div></div>
      </dd>
    </dl>          
  </div>
  <div class="project-list-footer">
    <div class="foot-info">
      <div class="pull-left">
        <span [ngClass]="{'high-rate':(projectData.goalrate > projectData.earnrate), 'low-rate':(projectData.goalrate < projectData.earnrate)}">{{projectData.earnrate}} %</span> (목표 <span>{{projectData.goalrate}}%</span>)
      </div>
      <div class="pull-right">
        <a href="">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <span class="count">8</span>
        </a>
        <a href="javascript:;">
          <span class="glyphicon glyphicon glyphicon-paperclip" aria-hidden="true"></span>
          <span class="count">2</span>
        </a>
        <a href="javascript:;">
          <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span>
          <span class="count">0</span>
        </a>
      </div>
    </div>
  </div>  
</div>
