<!-- project-list -->
<div class="project-list">
  <ul class="row">
    <!-- project -->
    <li class="col-sx-12 col-md-4 col-lg-2" *ngFor="let prj of dummyProjectList" (click)="goProjectDetail(prj.seq)">
      <div>
        <div class="project-list-hreader">
          <h4>{{prj.email}}</h4>
          <a href="javascript:;" (click)="viewProjectInfoBox($event, prj.seq)" class="btn-infomation"><span class="glyphicon glyphicon glyphicon-option-vertical hvr-buzz" aria-hidden="true"></span></a>
        </div>
        <div class="project-list-footer">
          <div class="foot-info">
            <div class="pull-left">
              <a href="javascript:;">
                <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span>
                <span class="count">{{prj.name}}</span>
              </a>
              <a href="javascript:;">
                <span class="glyphicon glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                <span class="count">{{prj.idx}}</span>
              </a>
            </div>
            <div class="pull-right"></div>
          </div>
        </div>  
      </div>
    </li>
    <!-- //project -->
  </ul>
</div>
<!-- //project-list -->